<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="elements-list" routerLink="/tabs/elements-list">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Elements</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="shoop-list" routerLink="/tabs/shoop-list">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Lists</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" routerLink="/tabs/profile">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
