<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="elements-list" routerLink="/tabs/elements-list">
      <img src="assets/icon/ele.png" alt="Home Icon" class="custom-icon" />
      <ion-label>Elements</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="shoop-list" routerLink="/tabs/shoop-list">
      <img src="assets/icon/list.png" alt="Search Icon" class="custom-icon" />
      <ion-label>Lists</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" routerLink="/tabs/profile">
      <img src="assets/icon/profile.png" alt="Settings Icon" class="custom-icon" />
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
