<form [formGroup]="form" (ngSubmit)="saveElement()">
  <ion-item>
    <ion-label position="floating">Nombre del elemento</ion-label>
    <ion-input type="text" formControlName="nombre" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Sitio</ion-label>
    <ion-select formControlName="sitio">
      <ion-select-option *ngFor="let sitio of sitios" [value]="sitio.id">
        {{ sitio.nombre }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-footer>
    <ion-button expand="block" type="submit">Guardar</ion-button>
    <ion-button expand="block" color="danger" (click)="dismiss()">Cancelar</ion-button>
  </ion-footer>
</form>
