<form [formGroup]="form" (ngSubmit)="saveElement()" class="form-full-screen">
  <!-- Título principal -->
  <h1 class="form-title">Agregar nuevo elemento</h1>

  <!-- Campo de Nombre -->
  <ion-item class="custom-item">
    <ion-label position="floating">Nombre del elemento</ion-label>
    <ion-input type="text" formControlName="nombre" required></ion-input>
  </ion-item>

  <!-- Campo de Sitio -->
  <ion-item class="custom-item">
    <ion-label position="floating">Sitio</ion-label>
    <ion-select formControlName="idSitio">
      <ion-select-option *ngFor="let sitio of sitios" [value]="sitio.id">
        {{ sitio.nombre }}
      </ion-select-option>
    </ion-select>
    <ion-buttons slot="end">
      <ion-button fill="outline" color="primary" (click)="openNewSiteModal()">+</ion-button>
    </ion-buttons>
  </ion-item>

  <!-- Botones Guardar y Cancelar -->
  <div class="button-group">
    <ion-button expand="block" type="submit" class="primary-button">
      Guardar
    </ion-button>
    <ion-button expand="block" color="danger" (click)="dismiss()" class="cancel-button">
      Cancelar
    </ion-button>
  </div>
</form>
