<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="usuario; else loading">
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-text>{{ usuario.nombre }}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label>Correo</ion-label>
      <ion-text>{{ usuario.correo }}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label>Teléfono</ion-label>
      <ion-text>{{ usuario.telefono }}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label>Cédula</ion-label>
      <ion-text>{{ usuario.cedula }}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label>Rol</ion-label>
      <ion-text>{{ usuario.rol }}</ion-text>
    </ion-item>
  </div>

  <ng-template #loading>
    <ion-spinner></ion-spinner> Cargando perfil...
  </ng-template>
</ion-content>
